@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  background-image: url("../src/images/unnamed.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400;
}

nav {
  height: 65px;
  width: 100%;
  background:white;
  
}

nav .logo {
  
  text-align: center;
  line-height: 65px;
  font-size: 40px;
  color: #2c7ad2;
}
#firebaseui-auth-container {
  margin-top: 20%;
}

.Backbutton {
  color: white;

  border-radius: 4px;
  font-size: 16px;
  font-weight: 520;
  width: 90px;
  height: 44px;
  border: 1px solid white;
  box-sizing: border-box;
  transition: 0.1s ease;
  cursor: pointer;
  margin-left: 10px;
}
